@{
    ViewBag.Title = "About";
}
<h2>About BlowOut</h2>
<h3>Your onestop instrument rental shop!</h3>

<p>We would love to serve you. Check out the instruments we have available in the "Rentals" tab.</p>
