@{
    ViewBag.Title = "About";
}
<h2>About BlowOut</h2>
<h3>Your onestop instrument rental shop!</h3>
<h2>History</h2>
<p>
    <img src="~/Content/images/betty.jpg" style="width:150px; height:150px; margin-left:15px; float: right;">
    BlowOut was founded in 1994 by Betty McMoore (pictured to the right). Betty began her musical career playing the piano at age four.
    As her love for music grew, Betty began playing the flute at age nine. She fell in love with the flute and played in her junior high
    and high school orchestras. In high school, Betty decided she wanted to turn music into her full time career. After many years of hard work
    she made her way to playing in the Vienna Philharmonic Orchestra. She played with Vienna Philharmonic for 14 years before retiring
    to pursue a new dream of starting a business. The business she started began as a small local instrument rental business called McMoore's
    Musical Instrument Rentals. As popularity grew, Betty decided to rebrand and transition her rental business to an online only
    instrument rental business which is the company you see today called Blowout.
</p>
<br />
<h2>Mission</h2>
<p>
    Betty McMoore started her instrument rental business in hopes of providing reasonably priced rentals to youth in her local area.
    She wanted to ensure that any child in her area that had a desire to learn to play an instrument wouldn't have any economic barrier
    to do so. As popularity spread in her local community, Betty expanded her vision to providing reasonably priced rentals to youth
    across the country. Today, BlowOut, has provided opportunities for musical learning to youth in 34 of the 50 states and
    continues to grow each year!
</p>