@{
    ViewBag.Title = "Blow Out!";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">The best new and used instrument rental shop on the market. <br /> We blow our competitiors out of the water!</p>
    @*<img src="~/Content/images/instruments.jpg" class="landingpic"/>*@

</div>

<div class="landingbody">
    <div class="description">
        <h2></h2>
        <p>
            "It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself”.  - Johann Sebastian Bach
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>