
/* Add a class called myFooterText which changes the font to whatever you'd like. */
.myFooterText {
    font-family: Bahnschrift;
}

* {
    box-sizing: border-box;
}

.instrumentpic {
    width: 100%;
}
.jumbotron {
    background-size: cover;
    height: 800px;
    background-image: url('images/instruments.jpg');
}

    .jumbotron h1 {
        font-family: Bahnschrift;
        margin-top: 40px;
        font-size: 82px;
    }
    .jumbotron p {
        font-family: 'Segoe Script';
        margin-top: 40px;
        font-size: 17px;
    }

.landingbody p {
     font-family: Bahnschrift;
     margin-top: 20px;
     text-align: center;
     font-size: 25px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    height: 100%;
    width: 60%;
    float: unset;
    margin-top: 30px;
}
.right p {
        font-size: 17px;
        font-family: Bahnschrift;
    }

#name {
    font-size: 40px;
    font-family: Bahnschrift;
}

.farright {
    font-size: 17px;
    font-family: Bahnschrift;
    width: 30%;
    float: right;
    margin-top: 30px;
}

.left {
    height: 100%;
    width: 40%;
    float: left;
    margin-top: 30px;
}

.column img{
    width: 100%;
}

.container {
    display: inline-grid, flex;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
